__pycache__/
*.py[cod]
*$py.class

*.so

__pypackages__/

.env

**/.terraform/*

*.auto.tfvars
*.auto.tfvars.json
*secret*.tfvars
*password*.tfvars
*credentials*.tfvars
local.tfvars
personal.tfvars

*.tfplan
.terraformrc
terraform.rc
.terraform.lock.hcl

.dockerignore

.vscode/
*.code-workspace